[Desktop Entry]
Type=Application
Name=GPU Screen Recorder
GenericName=Screen recorder
Comment=A gpu based screen recorder / streaming program
Icon=com.dec05eba.gpu_screen_recorder
Exec=gpu-screen-recorder-gtk
Terminal=false
Keywords=gpu-screen-recorder;screen recorder;streaming;twitch;replay;
Categories=AudioVideo;Recorder;
